@{
    ViewBag.Title = "Contact";
}
<h2>Informacion Personal.</h2>
<h3>Datos</h3>

<p>
    Calle 3ra Zona cento Tjuana<br />
    Redmond, WA 98052-6399<br />
    Telefono: 664839274<br />
    Facebook Barberia Tijuana
</p>

<address>
    <strong>Soport:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>