@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>Pagina Para Realizar citas de Barberia </h1>
        <p class="lead"> MI primera Pagina web </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">mas &raquo;</a></p>
</div>

<div class="row justify-content-between">
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-header bg-info py-2">
                <h1>Quienes Somos</h1>
            </div>
            <p>
                BarberShop Tijuana Tiene los mejores cortes y los mas profesionales Barberos ademas de contar con excelentes comodidades
            </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    </div>
    <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-header bg-info py-2">
                    <h2>Conocenos</h2>
                    </div>
                </div>
                    <p>Ven a conocernos nos encontramos ubicados en calle 3ra dentro de plaza de la tecnologia</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">mas &raquo;</a></p>
                </div>
            <div class="col-md-4">
                    <div class="card mb-2">
                        <div class="card-header bg-info py-2">
                            <h2>localización</h2>
                            </div>
                            <div class="col l4 offset-l2 s12">
                                <h5 class="white-text">Maps</h5>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.6793765797893!2d-117.04291763545277!3d32.534709181045905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9491305bd7c7b%3A0x38e0456268bfa3ed!2sPLAZA%20DE%20LA%20TECNOLOG%C3%8DA!5e0!3m2!1ses!2smx!4v1588974877121!5m2!1ses!2smx" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
